h1:hover {
  cursor: pointer;
  //-webkit-transform: scale(1.2);
  //-moz-transform: scale(1.2);
  //-ms-transform: scale(1.2);
  //-o-transform: scale(1.2);
  //transform: scale(1.2);
  text-shadow: 0 0 2px;
}

mat-form-field {
  width: 75%;
  margin-right: 5%;
}

img {
  height: 200px;
  object-fit: cover;
}

#beers {
  background: url('~src/assets/img/beers.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#breweries {
  background: url('~src/assets/img/breweries.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#register {
  background: url('~src/assets/img/register.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#login {
  background: url('~src/assets/img/login.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.small {
  font-size: 12pt;
}

#header {
  min-height: 100px;
}

#navbar {
  background-color: green;
}

#mainContent {
  background-color: blue;
}

#aside {
  background-color: orange;
}

#footer1, #footer2, #footer3 {
  background-color: cyan;
}

.container {
  margin: 0.5%;
}

.user-button {
  padding: 5%;
}
