i:hover {
  cursor: pointer;
  text-shadow: 0 0 2px;
}

i {
  cursor: pointer;
  margin-left: 20%;
}

#footerBrand {
  margin-left: 3.5%;
}

#icons {
  min-width: 200px;
}

mat-card {
  margin: 0 auto;
}
