<div fxLayout="row" fxLayout="center center">

  <!-- Brand footer -->
  <div fxFlexFill>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div id="icons" fxFlex>
        <div fxLayout="row" fxLayoutAlign="center">
          <div fxFlex>
            <i onclick="window.open('https://github.com/joey32793/brewdude')" class="fab fa-github fa-2x"></i>
          </div>
          <div fxFlex>
            <i onclick="window.open('https://linkedin.com/in/JoeyMckenzie')" class="fab fa-linkedin-in fa-2x"></i>
          </div>
          <div fxFlex>
            <i onclick="window.open('https://joeymckenzie.azurewebsites.net')" class="fas fa-code fa-2x"></i>
          </div>
        </div>
      </div>
      <div fxFlex>
        <p class="bungee">Beer for the people</p>
      </div>
    </div>
  </div>

</div>
