/* You can add global styles to this file, and also import other style files */
@import "assets/fonts.css";
//@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "themes/brewdude-theme.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.passion-one {
  font-family: 'Passion One', sans-serif;
}

.bungee {
  font-family: 'Bungee', sans-serif;
}

.flex-container {
  display: flex;
}

.text-center {
  text-align: center;
}
